version: 2
jobs:
  build:
    docker: # See https://docs.docker.com/get-started/#docker-concepts if you are new to Docker.
      - image: circleci/node:8.10
    steps:
      - checkout
      - run: echo "yarn install"
      - run: yarn install
      - run: CI=true yarn build
  test:
    docker: # See https://docs.docker.com/get-started/#docker-concepts if you are new to Docker.
      - image: circleci/node:8.10
    steps:
        - checkout
        - run: echo "test"
        - run: yarn install
        - run: yarn test
  hithere:
    docker: # See https://docs.docker.com/get-started/#docker-concepts if you are new to Docker.
      - image: circleci/node:8.10
    steps:
      - checkout
      - run: echo "hello"
workflows:
  version: 2
  build_test_and_lint:
    jobs:
      - build
      - hithete
      - test:
          requires:
            - hithere
       
